//  Main Color Pallete Below

// #565554 - Davy's Gray
// #8D86C9 - Tropical Indigo
// #7DCFB6 - Tiffany Blue
// #FED766 - Mustard
// #F7B1AB - Melon

$backgroundGray: #565554;
$navBarBackground: #8D86C9;
$navBarActive: #7DCFB6;
$nameMustard: #FED766;
$navBarHover: #F7B1AB;

// Put all other colors you want to use below
