/* You may do the CSS if you want, or I (pluto) can as well */
/* If you want me to do it, give me a color pallete from https://coolors.co/generate */
/* Tell me what you want where! */

/* Full color pallete below

#565554 - Davy's Gray
#8D86C9 - Tropical Indigo
#7DCFB6 - Tiffany Blue
#FED766 - Mustard
#F7B1AB - Melon

*/

/* fcc345 and fff2cc */

/* "Makk Attakk: Attakk of the Makk */
#head {
  color: #FED766;
  text-align: center;
  position: relative;
}

/* Entire <body> */
body {
  background-color: #565554;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
}

/* Spacing / Positioning */
.center {
text-align: center;
}

ul.crimelist
{
  display: inline-block;
  text-align: left;
}

div.container
{
  text-align:center;
}

/* "About the game"  */
#abtthegame {
  margin-top: 2em;
  text-align: center;
}

footer {
  position: relative;
  text-align: center;

  width: 100%;
}

/* im putting the navbar stuff down here so its easy to get rid of -pluto */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8D86C9;
}

li {
  float: left;
  border-right: 1px solid black;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F7B1AB;
  font-style: italic;
}

.active {
  background-color: #7DCFB6;
  font-style: bold;
}