/* "Makk Attakk: Attakk of the Makk */
#head {
  color: #fcce45;
  text-align: center;
  position: relative;
}

/* Entire <body> */
body {
  background-color: #565554;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a:link {
  text-decoration: none;
}

.makkpic {
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: red; 
}

footer {
  display: block;
  position:relative;
  text-align: center;
  width: 100%;
}

/* im putting the navbar stuff down here so its easy to get rid of -pluto */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8D86C9;
}

li {
  float: left;
  border-right: 1px solid black;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F7B1AB;
  font-style: italic;
}

.active {
  background-color: #7DCFB6;
  font-style: bold;
}